// Colors
@primary-color: #00be92;
@primary-text-color: #212529; 

// Fonts
@font-family: 'Roboto', sans-serif !important;
@font-weight-regular: 400;
@font-weight-semibold: 500;
@font-weight-extrabold: 900;

// Font sizes
@font-size-16: 16px;
@font-size-28: 28px;